<section class="section" id="home">
  <!-- HERO -->
  <div class="hero">
    <div class="hero-content">
      <h1>APRENDE DESARROLLO WEB</h1>
      <p>
        ¡Aprende a crear páginas web desde cero! Únete a nuestro curso de
        desarrollo web y domina las herramientas más modernas. Adquiere
        habilidades en HTML, CSS, JavaScript y más. ¡Empieza ahora y lleva
        tus proyectos al siguiente nivel!
      </p>
    </div>
    <div class="hero-image">
      <img src="img/planta.png" alt="Ilustración desarrollo web">
    </div>
  </div>
</section>