<section class="section" id="metodologia">
  <!--infografías metodología: aula invertida y puzle de aronson -->
    <div class="methodology-grid">
        <div class="methodology-item">
          <img src="img/meto/aulainvertida.jpg" alt="Aula invertida">
        </div>
        <div class="methodology-item">
           <img src="img/meto/PuzzleAronson.png" alt="Puzzle de Aronson">
        </div>
    </div>
  <!--Tabla programación contenido -->
  <table>
    <caption><strong>¿CÓMO LO VAMOS A APLICAR EN EL AULA?</strong></caption>
    <thead>
      <tr>
        <th>Distribución</th>
        <th>Aula Invertida</th>
        <th>Puzzle de Aronson</th>
      </tr>
    </thead>
    <tbody>
            <td colspan="3"><strong>Explicación resumen de las características de cada metodología</strong></td>
              <tr>
                <td>Semana 1</td>
                <td>
                  - El profesor prepara ese contenido y lo publica en el aula virtual del grupo.<br>
                  - El alumno estudia teoría en casa mediante videos y lecturas.<br>
                  - En clase se resuelven dudas y se trabaja el proyecto grupal.<br>
                  - Enfoque práctico desde el inicio.
                </td>
                <td>
                  - Aprendizaje cooperativo.<br>
                  - Cada alumno investiga una parte del contenido.<br>
                  - Luego, enseña a su grupo y aplican todo al proyecto conjunto.<br>
                  - Refuerza la responsabilidad y la comprensión global.<br>
                  <strong>Roles del puzle de Aronson:</strong><br>
                  - <em>Tutor</em>: guía el aprendizaje dentro del grupo.<br>
                  - <em>Coordinador</em>: organiza tareas y tiempos.<br>
                  - <em>Evaluador</em>: verifica la calidad del trabajo y comprensión de todos.
                  - <em>Documentador</em>: Toma nota de los acuerdos, recopila recursos y se encarga del material de entrega.<br>
                </td>
              </tr>
            <td colspan="3"><strong>Programación de la práctica</strong></td>
              <tr>
                <td>Semana 2</td>
                <td>
                  Estudiar estructura básica HTML que se ha subido al aula virtual<br>
                  En clase: se inicia el diseño de la web del grupo con estructura HTML.
                </td>
                <td>
                  Cada alumno del grupo se especializa en una parte del HTML:<br>
                  - Estructura y etiquetas básicas<br>
                  - Cabecera y pie de página<br>
                  - Navegación<br>
                  - Secciones de contenido
                </td>
              </tr>
              <tr>
                <td>Semana 3</td>
                <td>
                  Estudiar JavaScript básico para aplicarlo a la web HTML<br>
                  En clase: añaden interactividad a su página.
                </td>
                <td>
                 Cada alumno del grupo se especializa en una parte del JS:<br>
                  - Variables y tipos<br>
                  - Funciones<br>
                  - Eventos<br>
                  - Integración JS en HTML
                </td>
              </tr>
              <tr>
                <td>Semana 4</td>
                <td>
                  Estudiar como se aplican los estilos con CSS<br>
                  En clase: aplicarán estos estilos al HTML del proyecto.
                </td>
                <td>
                  Cada alumno del grupo se especializa en una parte del CSS:<br>
                  - Estilos base y tipografía<br>
                  - Colores y fondos<br>
                  - Identificadores y clases<br>
                  - Organización del CSS
                </td>
              </tr>
              <tr>
                <td>Semana 5</td>
                <td colspan="2"><strong>Reunión de expertos</strong></td>
              <tr>
                <td>Semana 6</td>
                <td>
                  Estudiar elementos básicos de maquetación<br>
                  En clase: maquetan secciones principales de su web.
                </td>
                <td>
                  Cada alumno del grupo se especializa en una maquetación del CSS:<br>
                  - Box model<br>
                  - Flexbox<br>
                  - Grid<br>
                  - Espaciado y alineación de elementos
                </td>
              </tr>
              <tr>
                <td>Semana 7</td>
                <td>
                  Estudiar como añadir elementos externos.<br>
                  En clase: añadirán a la web enlaces e imágenes externas.
                </td>
                <td>
                  Cada alumno del grupo añadirá un tipo de enlace diferente:<br>
                  - Imágenes<br>
                  - Páginas externas<br>
                  - Videos youtube<br>
                  - Interacción con formularios
                </td>
              </tr>
              <tr>
                <td>Semana 8</td>
                <td>
                  Estudiar fundamentos de usabilidad y accesibilidad web.<br>
                  En clase: mejoran la experiencia de uso de su web.
                </td>
                <td>
                  Cada alumno del grupo aportará una opción de mejora de la interfaz de usuario:<br>
                  - Accesibilidad<br>
                  - Navegación clara<br>
                  - Evaluación heurística del sitio
                </td>
              </tr>
              <tr>
                <td>Semana 9</td>
                <td colspan="2"><strong>Segunda reunión de expertos</strong></td>
              <tr>
              <tr>
                <td>Semana 10</td>
                <td>
                  Revisión final y ajustes de la web del grupo.<br>
                  Autoevaluación y exposición del proyecto.<br>
                  Uso de rúbricas.
                </td>
                <td>
                  Cada grupo revisa el trabajo conjunto, corrige errores y se prepara para explicar lo aprendido y su aplicación. 
                  Los roles rotan en la presentación.
                </td>
              </tr>
    </tbody>
  </table>
</section>
