<section class="section" id="usabilidad">
  <div class="container">
    <!-- Menú lateral -->
    <nav id="menu-lateral">
      <h2>Usabilidad y Accesibilidad</h2>
      <ul>
        <br>
        <li><a href="#Intro">Introducción a la usabilidad</a></li>
        <li><a href="#Contenido1">Principios de Usabilidad</a></li>
        <li><a href="#Contenido2">Accesibilidad</a></li>
        <li><a href="#ContenidoExterno">Más información y recursos</a></li>
      </ul>
    </nav>
    <!-- Contenido principal -->
    <div id="contenido">
      <section id="Intro">
        <h3>Introducción a la usabilidad</h3>
          <p>La usabilidad describe lo sencillo que resulta para los usuarios interactuar con una interfaz, 
          ya sea en un sitio web, en una aplicación o en cualquier otro sistema. Una interfaz usable es 
          aquella que facilita a los usuarios alcanzar sus metas de forma eficiente, efectiva y con satisfacción.
          Para simplificar el trabajo de los diseñadores, Jakob Nielsen elaboró una lista de diez principios de usabilidad orientados a optimizar la experiencia de los consumidores. 
          Es decir, en los principios de Nielsen se busca centrarse en el usuario y cómo interactúa en su día a día con los productos para satisfacer sus necesidades. Estos principios son los siguientes:</p>  
      </section>
      <br> <!--espacio -->
      <section id="Contenido1">
        <h3>Principios de Usabilidad</h3>
        <ol>
          <li><b>Visibilidad del estado del sistema:</b> El sistema debe mantener informado al usuario, estableciendo un diálogo entre ambos basado en indicadores de fácil lectura que muestren el estado actual.</li>
          <li><b>Relación entre el sistema y el mundo real:</b> La información deberá mostrarse de una manera lógica, con un lenguaje que resulte familiar, con un orden natural, siguiendo convenciones homogéneas y utilizando representaciones gráficas.</li>
          <li><b>Control y libertad del usuario:</b> El usuario no es un sujeto pasivo, por lo que deberá poder cambiar sus opciones y preferencias sintiendo así un control sobre el producto.</li>
          <li><b>Consistencia y estándares:</b> Establecer siempre un sistema que se encuentre homologado con elementos en los colores, el lenguaje o las imágenes utilizadas sean adecuadas y se mantengan.</li>
          <li><b>Reconocer antes que recordar:</b> Minimizar la carga de memoria del usuario. Es decir, mostrar las opciones que tiene y las instrucciones en todo momento para facilitar la experiencia.</li>
          <li><b>Prevención de errores:</b> Diseñar para evitar problemas antes de que ocurran. Realizar pruebas y simulaciones con nuestro sistema nos permitirá reducir al máximo estos errores.</li>
          <li><b>Flexibilidad y eficiencia de uso:</b> Flexibilizar el sistema permite que su uso sea cada vez más cómodo, sobre todo para aquellos usuarios que tengan cierta experiencia en el tema.</li>
          <li><b>Diseño estético y minimalista:</b> Mantener la interfaz limpia y sin distracciones, proporcionando la información justa y adecuada en cada momento. Saturar al usuario con muchos estímulos hará que pierda la atención en el producto.</li>
          <li><b>Ayuda a reconocer, diagnosticar y recuperarse de errores:</b> Proporcionar un mensale en el que aparezca cuál ha sido la causa del error, con un lenguaje preciso y con unos procedimientos claros.</li>
          <li><b>Ayuda y documentación:</b> Facilitar al usuario toda la información que necesite a través de preguntas frecuentes o documentación, ofreciendo recursos de ayuda accesibles.</li>
        </ol>
        <div class="grande">
          <img src="img/us/heuristicas-de-jakob-nielsen-1.png"
            alt="Los 10 principios de usabilidad de Jakob Nielsen">
        </div>
      </section>
      <br> <!--espacio -->
      <section id="Contenido2">
        <h3>Accesibilidad</h3>
        <p>La accesibilidad web es la práctica de diseñar y desarrollar sitios web que sean utilizables por el mayor número de personas posible, incluidas aquellas personas con discapacidad. 
          Implica que todo el contenido y las funcionalidades de un sitio web deben ser perceptibles, operables, comprensibles y robustos para todos los usuarios, independientemente de sus capacidades físicas, cognitivas o tecnológicas.
          Este concepto no se limita exclusivamente a las personas con discapacidad, sino que busca crear experiencias inclusivas que consideren las diversas formas en que los usuarios interactúan y navegan por la web. 
          Por ejemplo, aquellos que acceden desde dispositivos móviles o con conexiones a internet más lentas también se benefician de un diseño accesible.</p>
        <ul>
          <li><b>Texto alternativo:</b> Asegúrate de que todas las imágenes, gráficos y multimedia cuenten con descripciones adecuadas mediante el atributo ALT, para que los usuarios con discapacidades visuales puedan entender el contenido.</li>
          <li><b>Contraste de colores:</b> Utiliza combinaciones de colores que aseguren una legibilidad óptima, especialmente para usuarios con daltonismo o baja visión.</li>
          <li><b>Estructura semántica:</b> Organiza correctamente el contenido con encabezados (H1, H2), listas y etiquetas de párrafo, para que sea legible tanto por humanos como por dispositivos de asistencia.</li>
          <li><b>Navegación por teclado:</b> Todos los elementos interactivos, como menús o formularios, deben ser accesibles mediante el uso de teclado.</li>
          <li><b>Textos claros y concisos:</b>  Evita el lenguaje complejo o técnico. Utiliza frases simples y directas para mejorar la comprensión de todo tipo de usuarios.</li>
          <li><b>Videos con subtítulos:</b> Incluir transcripciones para contenido multimedia.</li>
        </ul>
      </section>
      <div class="example">
          <img src="img/us/a11y.png"
            alt="Ilustración sobre accesibilidad">
      </div>
      <br> <!--espacio -->
      <section id="ContenidoExterno">
        <h3>Para más información:</h3>
        <ul>
          <li><a href="https://es.semrush.com/blog/usabilidad-web-principios-jakob-nielsen/" target="_blank">Principios de usabilidad web y el diseño UX</a></li>
          <li><a href="https://www.ilunion.com/es/blog-puntoilunion/accesibilidad-web" target="_blank">Accesibilidad Web: Qué es y por qué es tan necesaria</a></li>
        </ul>
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/gQIKQO41pME?si=ZRPqi3b9gZfaHwRp"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
        </iframe>
      </section>
    </div>
  </div>
</section>

