<footer>
  <!-- Features globales -->
  <div class="features">
    <div class="feature">
      <h2>Cómo vamos a aprender</h2>
      <ul>
        <li><a href="#metodologia">Aula Invertida</a></li>
        <li><a href="#metodologia">Puzzle de Aronson</a></li>
      </ul>
    </div>
    <div class="feature">
      <h2>Aprende a construirla</h2>
      <ul>
        <li><a href="#html">HTML</a></li>
        <li><a href="#javascript">JavaScript</a></li>
      </ul>
    </div>
    <div class="feature">
      <h2>Mejora sus funciones</h2>
      <ul>
        <li><a href="#css">CSS</a></li>
        <li><a href="#usabilidad">Usabilidad</a></li>
      </ul>
    </div>
    <div class="feature">
      <h2>Cuánto has aprendido</h2>
      <ul>
        <li><a href="#autoevaluacion">Autoevaluación</a></li>
      </ul>
    </div>
  </div>
  <p>&copy; 2025 Aprende desarrollo web. Todos los derechos reservados.</p>
</footer>