<header class="site-header">
  <div class="header-title">APRENDE DESARROLLO WEB</div>
  <nav class="site-nav">
    <ul>
      <li><a href="#home" class="nav-home">Inicio</a></li>
      <li><a href="#metodologia" class="nav-metodologia">Metodología</a></li>
      <li><a href="#html" class="nav-html">HTML</a></li>
      <li><a href="#javascript" class="nav-js">JavaScript</a></li>
      <li><a href="#css" class="nav-css">CSS</a></li>
      <li><a href="#usabilidad" class="nav-usabilidad">Usabilidad</a></li>
      <li><a href="#autoevaluacion" class="nav-auto">Autoevaluación</a></li>
    </ul>
  </nav>
</header>